export(
"nnc", 
"khat", 
"nncTest",
"ascrda", 
"FitRda",
"FitSvm",
"FitDLDA",
"FitkNN",
"FitPAM",
"synma",
"getTrainTest")

importFrom("rda", "rda")
importFrom("rda", "rda.cv")
importFrom("MASS", "mvrnorm")
importFrom("e1071", "svm")
importFrom("nnet", "multinom")
importFrom("class", "knn.cv")
importFrom("class", "knn")
importFrom("sfsmisc", "diagDA")
importFrom("pamr", "pamr.train")
importFrom("pamr", "pamr.adaptthresh")
importFrom("pamr", "pamr.predict")




